alembic==0.9.6
bleach==3.3.0
blinker==1.4
celery==5.2.2
click==6.7
dominate==2.3.1
elasticsearch>=6.0.0
elasticsearch-dsl==2.0.0
Flask>=0.12.3
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-Moment==0.6.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gensim==3.4.0
gunicorn==19.7.1
ipython>=4.2.0
ipython-genutils>=0.1.0
itsdangerous==0.24
Jinja2>=2.10.1
joblib>=0.11
jwt>=0.5.2
Mako==1.0.7
Markdown==2.6.8
MarkupSafe==1.0
mysqlclient>=1.3.12
PyMySQL>=0.8.0
python-dateutil==2.7.1
python-dotenv>=0.7.1
python-editor>=1.0.3
requests==2.31.0
scikit-learn==0.19.1
six==1.11.0
smart-open==1.5.6
SQLAlchemy>=1.2.0
sqlalchemy-utils>=0.33.9
user-agents>=1.1.0
visitor>=0.1.3
webencodings>=0.5.1
Werkzeug>=0.13
WTForms==2.1

