.navbar {
    background-color: #990000;
    min-height: 100px;
}
.navbar .navbar-brand {
      padding: 10px;
      height: 100px;
      line-height: 100px;
      color: #ffffff;
      font-size: 50px;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #990000;
}

.navbar-nav > li >a{
  color:#ffffff;
}

.navbar .navbar-text {
  color: #ffffff;
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffffff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #b3d9ff;
  background-color: #990000;
}
.navbar .navbar-toggle {
  border-color: #990000;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #990000;
}

.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #ffffff;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 33px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 35px;
    padding-bottom: 35px;
    line-height: 30px;
  }
}
.btn-xlarge {
    padding: 30px 35px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}



.square {
    float:left;
    position: relative;
    width: 32%;
    padding-bottom : 27%;
    margin:0.5%;
    background-color:#e6f2ff;
    overflow:hidden;
}

.content {
    position:absolute;
    height:90%;
    width:90%;
    padding-left: 12%;
    padding-top: 10%
}

.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
}

.star-rating {
  line-height:32px;
  font-size:1.25em;
}

.star-rating .fa-star{color: DeepSkyBlue;}

.btn-xlarge {
    padding: 10px 15px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.twoColumns{
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}

.content_decision {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.btn-xlarge_decision {
    padding: 30px 35px;
    font-size: 28px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.articleLink,
.articleLink:hover{
    color: black; 
    text-decoration: none;
}

.alert-info {
color: #004a99;
background-color: #e6f2ff;
border-color:#80bdff;

}