.btn-xlarge {
    padding: 30px 35px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.btn-info {
    background-color: #0066cc;
    color:#fff;
}

.container-fluid {
    top: 0;
    right: 0;
    min-height: 100vh;
    transition: all 0.3s;
}

.container-fluid.active {
    width: 100%;
}

.wrapper {
        display: flex;
}

.square {
    float:left;
    position: relative;
    width: 32%;
    padding-bottom : 15%;
    margin:0.5%;
    background-color:#e6f2ff;
    overflow:hidden;
}

.square-mobile {
    float: left;
    position: relative;
    width: 90%;
    padding-bottom: 60%;
    margin: 0.5%;
    background-color: #e6f2ff;
    overflow: ellipsis;
}

.square-tablet {
    float: left;
    position: relative;
    width: 32%;
    padding-bottom: 30%;
    margin: 0.5%;
    background-color: #e6f2ff;
    overflow: ellipsis;
}


.content {
    position:absolute;
    height:75%;
    width:90%;
    padding-left: 8%;
    padding-top: 5%;
    text-align:center;
}

.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
}

.star-rating {
  line-height:32px;
  font-size:1.25em;
}

.star-rating .fa-star{color: DeepSkyBlue;}

.btn-xlarge {
    padding: 10px 15px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
       border-radius: 8px;
       background-color: #80bdff;
       
}


.content_decision {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.btn-xlarge_decision {
    padding: 30px 35px;
    font-size: 28px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
       border-radius: 8px;
       background-color:#80bdff;
}

.articleLink,
.articleLink:hover{
    color: black; 
    text-decoration: none;
}

.alert-info {
color: #004a99;
background-color: #e6f2ff;
border-color:#80bdff;

}

#sidebar {
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #990000;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #990000;
}


#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 15px;
    color:#ffffff;
    font-size:20px;
    display: block;
    height:55px;
}


#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #cc0000;
}

a[data-toggle="collapse"] {
    position: relative;
}

#sidebar.active .sidebar-header a, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

@media (max-width: 768px) {
 #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

#content-new {
    width: calc(100% - 220px);
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.wrapper {
    display: flex;
    align-items: stretch;
}


#content-new.active {
    width: calc(100% - 80px);
}
	   
.Binnenland {
    background-color:#C21460;
    position: relative;
    padding-top: 2px;
    width: 40%;
    height : 35%;
    overflow:hidden;
    color: white;
    margin: auto;
    font-weight: bold;
    text-align:center;
}

.Buitenland {
    background-color: #B2D732;
    position: relative;
    padding-top: 2px;
    width: 40%;
    height : 35%;
    overflow:hidden;
    margin:auto;
    font-weight: bold;
    text-align:center;
}

.Economie {
    background-color: #FCCC1A;
    position: relative;
    padding-top: 2px;
    width: 40%;
    height : 30%;
    overflow:hidden;
    margin:auto;
    font-weight: bold;
    text-align:center;
}

.Milieu {
    background-color: #FB9902;
    position: relative;
    padding-top: 0px;
    width: 40%;
    height : 35%;
    overflow:hidden;
    margin:auto;
    font-weight: bold;
    text-align:center;
}
.Wetenschap {
    background-color: #347C98;
    position: relative;
    padding-top: 2px;
    width: 40%;
    height : 35%;
    overflow:hidden;
    margin:auto;
    font-weight: bold;
    text-align:center;
    color:white;
}

.Immigratie {
    background-color: #4424D6;
    position: relative;
    padding-top: 2px;
    width: 40%;
    height : 35%;
    overflow:hidden;
    font-weight: bold;
    text-align:center;
    color:white;
    margin:auto;
}

.Justitie {
    background-color:#55872b;
    position: relative;
    padding-top: 2px;
    width: 40%;
    height : 35%;
    overflow:hidden;
    margin:auto;
    font-weight:bold;
    text-align:center;
    color:white;
}

.Sport {
    background-color: #800000;
    position: relative;
    padding-top: 2px;
    width: 40%;
    height : 35%;
    overflow:hidden;
    margin:auto;
    font-weight: bold;
    color:white;
    text-align:center;
}

.Entertainment {
    background-color: #ff99dd;
    position: relative;
    padding-top: 2px;
    width: 40%;
    height : 35%;
    overflow:hidden;
    margin:auto;
    font-weight: bold;
    text-align:center;
}

.Anders {
    background-color: #b0aac0;
    position: relative;
    padding-top: 2px;
    width: 40%;
    height : 35%;
    overflow:hidden;
    margin:auto;
    font-weight: bold;
    text-align:center;
}


.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 5px;
  height: 15px;
  width: 15px;
  background: #e6e6e6;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #0066cc;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0066cc;
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.progress {height: 30px !important; margin-bottom:0; }

.start {float:left;}
.end {float:right; text-align:right;}

.progress-bar { line-height: 30px !important; color: black !important; font-weight: bold !important;  }

.barwrap {
    position: relative;
}

.bar-step {
    position:absolute;
    margin-top:-20px;
    font-size:12px;
}

.label-txt {
    float: right;
}

.label-line {
    float: left;
    background: #000;
    height:60px;
    width:2px;
    margin-right:2px;
}

.label-txt-max {
    float: left;
}
    
.label-line-max {
    float: right;
    background: #000;
    height:50px;
    width:2px;
    margin-left:2px;
}
