<p> Geachte {{ user.username }},</p>
<p>Je bent nu ingeschreven op de website <a href="3bij3.nl">3bij3.nl</a>. Om jouw account te activeren, klik je op deze <a href={{"https://3bij3.nl/activate?user=number" | replace('number', user.id) }}>link</a> of plak {{"https://www.3bij3.nl/activate?user=number" | replace('number', user.id) }}  in jouw browser.</p>

<p>Als je jouw wachtwoord bent vergeten, kan je het op de website resetten door te klikken op "Wachtwoord vergeten? Hier opnieuw instellen!".</p> 

<p>Met vriendelijke groeten,</p>

<p>Felicia Löcherbach</p>

