<p> Liebe/r {{ user.username }},</p>
<p>
Um ihr Passwort zurückzusetzen, klicken sie bitte 
<a href="{{ url_for('reset_password', token=token, _external=True) }}">hier</a>
</p>
<p> Alternativ können Sie auch den folgenden link in die Adresszeile ihres Browsers kopieren </p>
<p< {{ url_for('reset_password', token=token, _external=True) }}</p>

<p>Sollten sie nicht angefragt haben, das Passwort zurückzusetzen, ignorieren Sie diese Nachricht einfach.</p>

<p>Mit freundlichen Grüßen,</p>

<p>Felicia Löcherbach</p>
