{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}{{title}} - 3bij3{% else %} Welkom op 3bij3{% endif %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='mystyle.css')}}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('.static', filename='addtohomescreen.css')}}">
       
{% endblock %}

{% block scripts %}
{{super()}}
{{ moment.include_moment() }}
{{ moment.lang("nl") }}
<script>
        $(function () {
            var timer = null;
            var xhr = null;
            $('.informatie').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            '/decision/popup_back').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'manual',
                                        html: true,
                                        animation: false,
                                        container: elem,
                                        content: data
                                    }).popover('show');
                                    flask_moment_render_all();
                                }
                            );
                    }, 1000);
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('destroy');
                    }
                }
            );
        });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="{{url_for('.static', filename='addtohomescreen.js')}}"></script>
{% if device == "mobile" %}
	<script>
	  $(document).ready(function () {
	  $("#sidebar-mobile").mCustomScrollbar({
	  theme: "minimal"
	  });

	  $('#sidebarCollapsemobile').on('click', function () {
	  $('#sidebar-mobile, #content-new-mobile, .square-mobile').toggleClass('active');
	  $('.collapse.in').toggleClass('in');
	  $('a[aria-expanded=true]').attr('aria-expanded', 'false');
	  });
	  });
	</script>
{% else %}
	<script>
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content-new').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
	</script>
	
{% endif %}

<script>
jQuery(function(){
    var max = 3;
    var checkboxes = $('input[type="checkbox"]');

    checkboxes.change(function(){
        var current = checkboxes.filter(':checked').length;
checkboxes.filter(':not(:checked)').prop('disabled', current >= max);
    });
});
</script>
<script>
       jQuery(function($) {
  
  $('#bookmark-this').click(function(e) {
    var bookmarkURL = window.location.href;
    var bookmarkTitle = document.title;

    if ('addToHomescreen' in window && addToHomescreen.isCompatible) {
      // Mobile browsers
      addToHomescreen({ autostart: false, startDelay: 0 }).show(true);
    } else if (window.sidebar && window.sidebar.addPanel) {
      // Firefox <=22
      window.sidebar.addPanel(bookmarkTitle, bookmarkURL, '');
    } else if ((window.sidebar && /Firefox/i.test(navigator.userAgent)) || (window.opera && window.print)) {
      // Firefox 23+ and Opera <=14
      $(this).attr({
        href: bookmarkURL,
        title: bookmarkTitle,
        rel: 'sidebar'
      }).off(e);
      return true;
    } else if (window.external && ('AddFavorite' in window.external)) {
      // IE Favorites
      window.external.AddFavorite(bookmarkURL, bookmarkTitle);
    } else {
      // Other browsers (mainly WebKit & Blink - Safari, Chrome, Opera 15+)
      alert('Press ' + (/Mac/i.test(navigator.platform) ? 'Cmd' : 'Ctrl') + '+D om deze pagina aan je bookmarks toe te voegen.');
    }

    return false;
  });
  
				  });
</script>

        {% if device == "mobile" %}
        <script>
        $(document).ready(function () {
        $('#sidebar-mobile, #content-new-mobile, .square-mobile').toggleClass('active');
        });
        </script>
        {% endif %}

{% endblock %}
{% block wrapper %}
<div class = "wrapper" >
  {% block navbar %}
  {% if device == "mobile" %}
  {% include 'mobile_base.html' %}
  {% else %}
  {% if device == "tablet" %}
  <nav id="sidebar" class = "active" >
    {% else %}
    <nav id="sidebar">
      {% endif %}
      <div class="sidebar-header">
         <a href="{{ url_for('count_logins') }}"><img src="/static/logo_3bij3.png" style="width: 80%; height: 80%"></a>
      </div>
      <ul class="list-unstyled components">
	<li><a href="{{ url_for('count_logins') }}"><i class = "fa fa-newspaper"></i>   Nieuws</a></li>
	<li><a href="{{ url_for('get_points') }}"><i class="fa fa-chart-bar"></i>   Mijn 3bij3</a></li>
	<li><a href="{{ url_for('contact') }}"><i class="fa fa-envelope"></i>   Mail ons</a></li>
	<li><a href="{{ url_for('faq') }}"><i class="fa fa-question-circle"></i>   FAQ</a></li>
	<li><a href="{{ url_for('invite') }}"><i class="fa fa-share-square"></i>   Uitnodiging</a></li>
         {% if current_user.is_anonymous %}
         <li><a href="{{ url_for('login') }}"><i class="fa fa-sign-in-alt"></i>   Login</a></li>
         {% else %}
    <li><a  href="{{url_for('logout') }}"><i class="fa fa-sign-out-alt"></i>   Logout</a></li>
    {% endif %}
    <li><a id="bookmark-this" href="#" title="Bookmark This Page"><i class="fa fa-bookmark"></i> Bookmark</a></li>
<!---    <li><a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>--->
</ul>
   </nav>
   {% endif %}
   
   {% endblock %}
    {% block content %}
   {% if device == "mobile" %}
   <div id = "content-new-mobile" >
     {% else %}
     {% if device == "tablet" %}
     <div id= "content-new" class = "active">
       {% else %}
       <div id = "content-new" >
	 {% endif %}
     {% endif %}
      <div class="container">
         {% with messages = get_flashed_messages() %}
         {% if messages %}
         {% for message in messages %}
         <div class="alert alert-info" role="alert">{{message}}</div>
         {% endfor %}
         {% endif %}
         {% endwith %}
         {% block app_content %}
	 {% endblock %}
	 </div>
      </div>
       {% endblock %}
</div>
{% endblock %}



  
   
