{% extends "base.html" %}
{% block app_content %}
{% if device == "mobile" %}
<button type="button" id="sidebarCollapsemobile" class="btn btn-info navbar-btn">
  <i class="glyphicon glyphicon-align-left"></i>
</button>

{% else %}
<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
  <i class="glyphicon glyphicon-align-left"></i>
  Menu
</button>
{% endif %}

<div class="row" >
  <div class = "col-xs-8">
<h1>Contactformulier:</h1>

<form action="/contact" method="post">
      {{ form.hidden_tag() }}
      <p>
	{{form.email.label }} <br>
	{{ form.email(rows = '1', cols = '50') }} <br>
	Als je wilt dat wij contact met je opnemen, moet je een adres opgeven. Als je alleen een reactie wilt achterlaten, laat je dit veld gewoon leeg.
      </p>
      <p>
        {{ form.lead.label }}<br>
        {{ form.lead(rows = '2', cols = '50') }}
      </p>
      <p>
      {{ form.message.label }}<br>
      {{ form.message(rows='10',cols='50') }}
    </p>
    <button class = "btn btn-info" type="submit">
     Verzenden
    </button>
</form>
</div>
</div>
{% endblock %}
