{% extends "base.html" %}
{% block app_content %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='mystyle.css')}}">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<style type="text/css">  

.btn-xlarge {
    padding: 30px 35px;
    font-size: 28px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
.content {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  }
</style>

{% endblock %}

<div class="content text-center">
<p style="font-size:28px"> Wat wilt u nu doen? </p>
<button id="goback" type="button" class="btn btn-xlarge btn-info" onclick="history.go(-2)">Terug naar <br> selectie</button>&nbsp;&nbsp;&nbsp;
	<a href={{ url_for('newspage') }}><button id="getnew" type="button" class="btn btn-xlarge btn-info">Nieuwe artikelen <br> ophalen</button></a><br><br>
<span class = "informatie">
<a href = "#"> Wat betekent dat? </a>
</span>
</div>
{% endblock %}
