{% extends "base.html" %}
{% block app_content %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='mystyle.css')}}">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<style type="text/css">  
.star-rating {
  line-height:32px;
  font-size:1.25em;
}

.star-rating .fa-star{color: DeepSkyBlue;}

.btn-xlarge {
    padding: 10px 15px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
</style>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% endblock %}

<h1>{{title}}</h1>
{% if image != [] %}
<div class="col-md-12">
   <div class="pull-left"><img src = {{image}} alt = {{image_caption}} style="width:500px; heigth:400px" hspace = "20" vspace = "20"/></div>
   <div>
      <p style="color: grey;">{{moment(time).fromNow() }}</p>
      <p><b> {{teaser}}</b></p>
      <p> {{text}} </p>
   </div>
</div>
{% else %}

<p>{{moment(time).fromNow() }}</p>
<p><b> {{teaser}}</b></p>
<p> {{text}} </p>


{%endif %}

<form action="" method = "post">
   {{ form.hidden_tag() }}
<div class="container">
  <div class="row">
      <div class="text-center">
	<div class="star-rating">
	  Hoe relevant was dit artikel voor u?<br>
        <span class="fa fa-star-o fa-2x" data-rating="1"></span>
        <span class="fa fa-star-o fa-2x" data-rating="2"></span>
        <span class="fa fa-star-o fa-2x" data-rating="3"></span>
        <span class="fa fa-star-o fa-2x" data-rating="4"></span>
        <span class="fa fa-star-o fa-2x" data-rating="5"></span><br>
        <input type="hidden" id="rating" name="rating" class="rating-value" value="0">
	<button type="submit" id="rating1" name="submitBtn" class="btn btn-info btn-xlarge center">Submit</button>
</form>
</div>	
    </div>
</div>
<script>
  var $star_rating = $('.star-rating .fa');

var SetRatingStar = function() {
  return $star_rating.each(function() {
    if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
      return $(this).removeClass('fa-star-o').addClass('fa-star');
    } else {
      return $(this).removeClass('fa-star').addClass('fa-star-o');
    }
  });
};

$star_rating.on('click', function() {
  $star_rating.siblings('input.rating-value').val($(this).data('rating'));
  return SetRatingStar();
});

SetRatingStar();
</script>



{% endblock %}

