{% extends "base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='mystyle.css')}}">
<link href="//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="{{url_for('.static', filename='dashboard.css')}}", rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/5.9.0/css/font-awesome.min.css">
<style>
  input {
  display: none;
  }
  </style>
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type=text/javascript>
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

var ctx = document.getElementById("myPieChart");
var myPieChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: ["Inloggen", "Lezen", "Beoordelingen", "Uitnodigingen", "Nog te behalen"],
    datasets: [{
      data: [{{points_logins}}, {{points_stories}}, {{points_ratings}}, {{points_invites}}, {{points_min - (points_logins + points_stories + points_ratings + points_invites)}}],
      backgroundColor: ['#e74a3b', '#f6c23e', '#4e73df', '#36b9cc', '#858796'],
      hoverBackgroundColor: ['#d52a1a', '#f4b30d', '#2653d4', '#2a96a5', '#d3d3d3'],
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: true,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: false
    },
    cutoutPercentage: 50,
  },
});
</script>

<!---<script>
    var submitFormOkay = false;
    window.onbeforeunload = function () {
    if (!submitFormOkay) {
    return true;
    }
    }
</script>--->

<script>
jQuery(function(){
    var max = 3;
    var checkboxes = $('input[type="checkbox"]');
    checkboxes.change(function(){
        var current = checkboxes.filter(':checked').length;
checkboxes.filter(':not(:checked)').prop('disabled', current >= max);
    });
});
</script>

{% endblock %}
{% block app_content %}
{% if (group == 4) %}
<!-- Content Row -->
<div class="row justify-content-center align-items-center">
  <div class="col-6 my-4">
    {% else %}
    <div class="row">
      <div class = "col my-4">
	{% endif %}
{% if ((group == 4) or ((group == 3) and (phase == 2)))  %}
    <div class="card shadow mb-4">
      <div class="card-header py-3">
  <h2 class="m-2 font-weight-bold text-primary align-middle">Personalization: Topics
   <!-- Button trigger modal -->
<button type="button" class="btn btn-link float-right" data-toggle="modal" data-target="#exampleModalCenter">
<span class="glyphicon glyphicon-question-sign" style="font-size:20px;top:-1px;"></span>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hier kun je je voorkeuren aangeven - welke onderwerpen vind je interessant, waar wil je meer over lezen?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  </h2>
</div>
  <div class="card-body">
      <div class="card-columns">
  <form action="{{ url_for('get_categories') }}" method="post">
  <label>
    <input type="checkbox" name="category" class="card-input-element d-none" value="Buitenland">
    <div class="card text-center topics">
      <div class="card-body">
        <h2 class="card-title">Buitenland</h2>
        <div class="card-block">
    <i class="fa fa-globe card-icon" style="font-size:48px;"></i>
        </div>
      </div>
    </div>
  </label>
        <label>
          <input type="checkbox" name="category" class="card-input-element d-none" value="Binnenland">
          <div class="card text-center topics">
            <div class="card-body">
              <h2 class="card-title">Binnenland</h2>
              <div class="card-block">
                <i class="fa fa-home card-icon" style="font-size:48px;"></i>
              </div>
            </div>
          </div>
  </label>
        <label>
          <input type="checkbox" name="category" class="card-input-element d-none" value="Milieu">
          <div class="card text-center topics">
            <div class="card-body">
              <h2 class="card-title">Milieu</h2>
              <div class="card-block">
                <i class="fa fa-leaf card-icon" style="font-size:48px;"></i>
              </div>
            </div>
          </div>
  </label>
        <label>
          <input type="checkbox" name="category" class="card-input-element d-none" value="Crime">
          <div class="card text-center topics">
            <div class="card-body">
              <h2 class="card-title">Crime</h2>
              <div class="card-block">
                <i class="fa fa-balance-scale card-icon" style="font-size:48px;"></i>
              </div>
            </div>
          </div>
  </label>
        <label>
          <input type="checkbox" name="category" class="card-input-element d-none" value="Immigratie">
          <div class="card text-center topics">
            <div class="card-body">
              <h2 class="card-title">Immigratie</h2>
              <div class="card-block">
                <i class="fa fa-suitcase card-icon" style="font-size:48px;"></i>
              </div>
            </div>
          </div>
  </label>
        <label>
          <input type="checkbox" name="category" class="card-input-element d-none" value="Economie">
          <div class="card text-center topics">
            <div class="card-body">
              <h2 class="card-title">Economie</h2>
              <div class="card-block">
                <i class="fa fa-money-bill-alt card-icon" style="font-size:48px;"></i>
              </div>
            </div>
          </div>
  </label>
        <label>
          <input type="checkbox" name="category" class="card-input-element d-none" value="Sport">
          <div class="card text-center topics">
            <div class="card-body">
              <h2 class="card-title">Sport</h2>
              <div class="card-block">
                <i class="fa fa-futbol card-icon" style="font-size:48px;"></i>
              </div>
            </div>
          </div>
  </label>
        <label>
          <input type="checkbox" name="category" class="card-input-element d-none" value="Entertainment">
          <div class="card text-center topics">
            <div class="card-body">
              <h2 class="card-title">Entertainment</h2>
              <div class="card-block">
                <i class="fa fa-smile card-icon" style="font-size:48px;"></i>
              </div>
            </div>
          </div>
  </label>
  <label>
          <input type="checkbox" name="category" class="card-input-element d-none" value="Anders">
          <div class="card text-center topics">
            <div class="card-body">
              <h2 class="card-title">Anders</h2>
              <div class="card-block">
                <i class="fa fa-ellipsis-h card-icon" style="font-size:48px;"></i>
              </div>
            </div>
          </div>
  </label>
      </div>
    </div>
    <button type="submit" id="topics" name="submitBtn" class="btn btn-primary btn-xlarge center" onclick="submitFormOkay = true;">Wijzigen</button>
    </form>
    </div>
      </div>
    </div>
    {% endif %}
    {% if (((group == 2) or (group == 3)) and (phase == 2)) %}
  <div class="col my-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
  <h2 class="m-0 font-weight-bold text-primary">Personalization
  <button type="button" class="btn btn-link float-right" data-toggle="modal" data-target="#exampleModalCenter">
  <span class="glyphicon glyphicon-question-sign" style="font-size:20px;top:-1px;"></span>
  </button>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
  </div>
        </h2>
      </div>
      <div class="card-body">
<h3 class="font-weight-bold">Number of recommended stories</h3>
  <div class="range">
    <input type="range" name="range" min="0" max="9" value="6" onchange="range.value=value">
    <output id="range">6</output>
  </div>
{% if ((group == 2) and (phase == 2)) %}
  <br />
  <h3 class="font-weight-bold">Diversity</h3>
  <div class="range range-primary">
    <input type="range" name="range" min="-50" max="50" value="0" onchange="rangePrimary.value=value">
    <output id="rangePrimary">0</output>
  </div>
      </div>
    </div>
  </div>
  {% endif %}
  </div>
  {% endif %}
  <!-- Content Column -->
  <div class="row">
  <div class="col my-4">
    <!-- Project Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
	<h2 class="m-0 font-weight-bold text-primary">Progress
 <!-- Button trigger modal -->
<button type="button" class="btn btn-link float-right" data-toggle="modal" data-target="#exampleModalCenter">
<span class="glyphicon glyphicon-question-sign" style="font-size:20px;top:-1px;"></span>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Hier kun je zien hoeveel punten je hebt verzameld in de verschillende categorieën - en hoe goed je presteert in vergelijking met andere gebruikers van de website.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        </h2>
      </div>
      <div class="card-body">
	<h4 class="font-weight-bold">Logins<span class="float-right">Max:{{ max_logins }} </span></h4>
	{% if max_logins == 0 %}
      </br>
      <h5><b> Helaas heeft niemand hier tot nu toe punten verzameld - wees de eerste! </b></h5>
      </br>
      {% else %}
      {% if points_logins == max_logins %}
      <div class="progress mb-4">
	<div class="progress-bar bg-danger" role="progressbar" style = "width: 100%;"></div>
      </div>
      {% else %}
      <div class="progress mb-4">
	<div class="progress-bar bg-danger" role="progressbar" aria-valuenow= {{ points_logins }} aria-valuemin= {{ min_logins }} aria-valuemax= {{ max_logins }} style={{"width:number%; color:black;"| replace("number", (points_logins/(max_logins - min_logins))*100) }}></div>
      </div>
      {% endif %}
      {% endif %}
      <h4 class="font-weight-bold">Gelezen Artikelen<span class="float-right">Max:{{ max_stories }} </span></h4>
      {% if max_stories == 0 %}
      </br>
      <h5><b> Helaas heeft niemand hier tot nu toe punten verzameld - wees de eerste! </b></h5>
      </br>
      {% else %}
      {% if points_stories == max_stories %}
      <div class="progress mb-4">
	<div class="progress-bar bg-warning" role="progressbar" style = "width: 100%;"></div>
      </div>
      {% else %}
      <div class="progress mb-4">
	<div class="progress-bar bg-warning" role="progressbar" aria-valuenow= {{ points_stories }} aria-valuemin= {{ min_stories }} aria-valuemax= {{ max_stories }} style = {{"width:number%; color:black;" | replace("number", (points_stories/(max_stories - min_stories))*100) }}></div>
      </div>
      {% endif %}
      {% endif %}
      <h4 class="font-weight-bold">Beoordelingen<span class="float-right">Max: {{ max_ratings }} </span></h4>
      {% if max_ratings == 0 %}
      </br>
      <h5><b> Helaas heeft niemand hier tot nu toe punten verzameld - wees de eerste! </b></h5>
      </br>
      {% else %}
      {% if points_ratings == max_ratings %}
      <div class="progress mb-4">
	<div class="progress-bar" role="progressbar" style = "width: 100%"></div>
      </div>
      {% else %}
      <div class="progress mb-4">
	<div class="progress-bar" role="progressbar" aria-valuenow={{ points_ratings }} aria-valuemin= {{ min_ratings }} aria-valuemax= {{ max_ratings }} style = {{"width:number%; color:black;" | replace("number", (points_ratings/(max_ratings - min_ratings))*100) }}></div>
      </div>
      {% endif %}
      {% endif %}
      <h4 class="font-weight-bold">Uitnodigingen<span class="float-right">Max: {{ max_invites }} </span></h4>
      {% if max_invites == 0 %}
      </br>
      <h5><b> Helaas heeft niemand hier tot nu toe punten verzameld - wees de eerste! </b></h5>
      </br>
      {% else %}
      {% if points_invites == max_invites %}
      <div class="progress mb-4">
	<div class="progress-bar bg-info" role="progressbar" style = "width: 100%;"></div>
      </div>
      {% else %}
      <div class="progress mb-4">
	<div class="progress-bar bg-info" role="progressbar" aria-valuenow={{ points_invites }} aria-valuemin= {{ min_invites }} aria-valuemax= {{ max_invites }} style = {{"width:number%; color:black;" | replace("number", (points_invites/(max_invites - min_invites))*100) }}></div>
      </div>
      {% endif %}
      {% endif %}
      <h4 class="font-weight-bold">Totaal<span class="float-right">Max: {{ max_overall }}</span></h4>
      {% if max_overall == 0 %}
      </br>
      <h5><b> Helaas heeft niemand hier tot nu toe punten verzameld - wees de eerste! </b></h5>
      </br>
      {% else %}
      {% if points == max_overall %}
      <div class="progress mb-4">
	<div class="progress-bar bg-success" role="progressbar" style = "width: 100%"></div>
      </div>
      {% else %}
      <div class="progress">
	<div class="progress-bar bg-success" role="progressbar" aria-valuenow={{ points }} aria-valuemin= {{ min_overall }} aria-valuemax= {{max_overall }} style = {{"width:number%; color:black;" | replace("number", (points/(max_overall - min_overall))*100) }} ></div>
      </div>
      {% endif %}
      {% endif %}
      </div>
    </div>
    </div>

  <div class="col my-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
	<h2 class="m-0 font-weight-bold text-primary">Points
 <!-- Button trigger modal -->
<button type="button" class="btn btn-link float-right" data-toggle="modal" data-target="#exampleModalCenter">
<span class="glyphicon glyphicon-question-sign" style="font-size:20px;top:-1px;"></span>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Hier kun je zien hoe ver je bent met het onderzoek - als de hele cirkel is ingevuld, kun je de finale vragenlijst invullen.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        </h2>
      </div>
      <div class="card-body">
	<div class="chart-pie p-4">
	  <canvas id="myPieChart"></canvas>
	</div>
	<div class="mt-4 pb-4 text-center small" style="font-size:12px;">
	  <span class="mr-2">
	    <i class="fas fa-circle text-danger"></i> Logins
	  </span>
	  <span class="mr-2">
	    <i class="fas fa-circle text-warning"></i> Gelezen
	  </span>
	  <span class="mr-2">
	    <i class="fas fa-circle text-primary"></i> Beoordeling
	  </span>
	  <span class="mr-2">
	   <i class="fas fa-circle text-success"></i> Uitnodiging
	  </span>
	  <span class="mr-2">
	    <i class="fas fa-circle text-secondary"></i> Nog te besteden
	  </span>
	</div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
	  <!-- Bootstrap core JavaScript-->
  <script src="{{url_for('.static', filename = 'vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('.static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{url_for('.static', filename = 'vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{url_for('.static', filename ='sb-admin-2.min.js')}}"></script>

  <!-- Page level plugins -->
  <script src="{{url_for('.static', filename='vendor/chart.js/Chart.min.js')}}"></script>
	  {% endblock %}
