{% extends "base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='mystyle.css')}}">
<link href="//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="{{url_for('.static', filename='dashboard.css')}}", rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/5.9.0/css/font-awesome.min.css">
<style>
  input {
  display: none;
  }
  </style>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script type=text/javascript>
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

var ctx = document.getElementById("myPieChart");
var myPieChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: ["Inloggen", "Lezen", "Beoordelingen", "Uitnodigingen", "Nog te behalen"],
    datasets: [{
      data: [{{points_logins}}, {{points_stories}}, {{points_ratings}}, {{points_invites}}, {{points_min - (points_logins + points_stories + points_ratings + points_invites)}}],
      backgroundColor: ['#e74a3b', '#f6c23e', '#4e73df', '#36b9cc', '#858796'],
      hoverBackgroundColor: ['#d52a1a', '#f4b30d', '#2653d4', '#2a96a5', '#d3d3d3'],
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: true,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: false
    },
    cutoutPercentage: 50,
  },
});
</script>

<script>
jQuery(function(){
    var max = 3;
    var checkboxes = $('input[type="checkbox"]');
    checkboxes.change(function(){
        var current = checkboxes.filter(':checked').length;
checkboxes.filter(':not(:checked)').prop('disabled', current >= max);
    });
});
</script>

<script>
  jQuery(function(){
  var btn = document.querySelectorAll("span.modal-span");
  var modals = document.querySelectorAll('.modal');
  var spans = document.getElementsByClassName("close");
  for (var i = 0; i < btn.length; i++) {
		      btn[i].onclick = function(e) {
		      e.preventDefault();
		      modal = document.querySelector(e.target.getAttribute("href"));
		      modal.style.display = "block";
		      }
		      }
		      for (var i = 0; i < spans.length; i++) {
 spans[i].onclick = function() {
    for (var index in modals) {
      if (typeof modals[index].style !== 'undefined') modals[index].style.display = "none";    
    }
 }
}
window.onclick = function(event) {
    if (event.target.classList.contains('modal')) {
     for (var index in modals) {
      if (typeof modals[index].style !== 'undefined') modals[index].style.display = "none";    
     }
    }
}

		    });
		    </script>

{% if device == "mobile" %}
        <script>
          $(document).ready(function () {
          $("#sidebar-mobile").mCustomScrollbar({
          theme: "minimal"
          });

          $('#sidebarCollapsemobile').on('click', function () {
          $('#sidebar-mobile, #content-new-mobile, .square-mobile').toggleClass('active');
          $('.collapse.in').toggleClass('in');
          $('a[aria-expanded=true]').attr('aria-expanded', 'false');
          });
          });
        </script>
{% else %}
        <script>
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content-new').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>

	{% endif %}

	{% if device == "mobile" %}
	<script>
	$(document).ready(function () {
	$('#sidebar-mobile, #content-new-mobile, .square-mobile').toggleClass('active');
	});
	</script>
	{% endif %}

{% endblock %}

{% block app_content %}
<div class="container">
  <div class="se-pre-con"></div>
  {% if device == "mobile" %}
  <button type="button" id="sidebarCollapsemobile" class="btn btn-info navbar-btn">
    <i class="glyphicon glyphicon-align-left"></i>
  </button>

  {% else %}
     <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
       <i class="glyphicon glyphicon-align-left"></i>
             Menu
     </button>
     {% endif %}
     </div>
{% if (group == 4) %}
<!-- Content Row -->
<div class="row justify-content-center align-items-center">
  <div class="col-6 my-4">
    {% else %}
    <div class="row">
      {% endif %}
{% if (((group == 3) and (phase == 2)) or group == 4)  %}
<div class = "col my-4">
	<div class="card shadow mb-4">
      <div class="card-header py-3">
  <h2 class="m-2 font-weight-bold text-primary align-middle">Mijn Onderwerpen
   <!-- Button trigger modal -->
<button type="button" class="btn btn-link float-right modal-button" href="#myModal1">
<span class="glyphicon glyphicon-question-sign modal-span" style="font-size:20px;top:-1px;" href="#myModal1"></span>
</button>

<!-- Modal -->
<div class="modal" id="myModal1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Hoe werkt het?</h3>
          <span aria-hidden="true" class="close">&times;</span>
      </div>
      <div class="modal-body">
      <p style="font-size:14px;font-weight:normal;">Hier kun je je voorkeuren aangeven - welke onderwerpen vind je interessant, waar wil je meer over lezen? Je kunt kizen tussen één en drie onderwerpen die voor je van belang zijn (niet meer). Klik op 'wijzigen' om je voorkeuren op te slaan. Je kunt dit zo vaak doen als je wilt.</p>
      </div>
    </div>
    </div>
  </div>
  </h2>
</div>
  <div class="card-body">
      <div class="card-columns" style="margin:8px;">
  <form action="{{ url_for('get_categories') }}" method="post">
  <label>
    <input type="checkbox" name="category" class="card-input-element d-none" value="Buitenland">
    <div class="card text-center topics">
      <div class="card-body">
        <h2 class="card-title">Buitenland</h2>
        <div class="card-block">
    <i class="fa fa-globe card-icon" style="font-size:48px;"></i>
        </div>
      </div>
    </div>
  </label>
        <label>
          <input type="checkbox" name="category" class="card-input-element d-none" value="Binnenland">
          <div class="card text-center topics">
            <div class="card-body">
              <h2 class="card-title">Binnenland</h2>
              <div class="card-block">
                <i class="fa fa-home card-icon" style="font-size:48px;"></i>
              </div>
            </div>
          </div>
  </label>
        <label>
          <input type="checkbox" name="category" class="card-input-element d-none" value="Milieu">
          <div class="card text-center topics">
            <div class="card-body">
              <h2 class="card-title">Milieu</h2>
              <div class="card-block">
                <i class="fa fa-leaf card-icon" style="font-size:48px;"></i>
              </div>
            </div>
          </div>
  </label>
        <label>
          <input type="checkbox" name="category" class="card-input-element d-none" value="Crime">
          <div class="card text-center topics">
            <div class="card-body">
              <h2 class="card-title">Crime</h2>
              <div class="card-block">
                <i class="fa fa-balance-scale card-icon" style="font-size:48px;"></i>
              </div>
            </div>
          </div>
  </label>
        <label>
          <input type="checkbox" name="category" class="card-input-element d-none" value="Immigratie">
          <div class="card text-center topics">
            <div class="card-body">
              <h2 class="card-title">Immigratie</h2>
              <div class="card-block">
                <i class="fa fa-suitcase card-icon" style="font-size:48px;"></i>
              </div>
            </div>
          </div>
  </label>
        <label>
          <input type="checkbox" name="category" class="card-input-element d-none" value="Economie">
          <div class="card text-center topics">
            <div class="card-body">
              <h2 class="card-title">Economie</h2>
              <div class="card-block">
                <i class="fa fa-money-bill-alt card-icon" style="font-size:48px;"></i>
              </div>
            </div>
          </div>
  </label>
        <label>
          <input type="checkbox" name="category" class="card-input-element d-none" value="Sport">
          <div class="card text-center topics">
            <div class="card-body">
              <h2 class="card-title">Sport</h2>
              <div class="card-block">
                <i class="fa fa-futbol card-icon" style="font-size:48px;"></i>
              </div>
            </div>
          </div>
  </label>
        <label>
          <input type="checkbox" name="category" class="card-input-element d-none" value="Entertainment">
          <div class="card text-center topics">
            <div class="card-body">
              <h2 class="card-title">Entertainment</h2>
              <div class="card-block">
                <i class="fa fa-smile card-icon" style="font-size:48px;"></i>
              </div>
            </div>
          </div>
  </label>
  <label>
          <input type="checkbox" name="category" class="card-input-element d-none" value="Anders">
          <div class="card text-center topics">
            <div class="card-body">
              <h2 class="card-title">Anders</h2>
              <div class="card-block">
                <i class="fa fa-ellipsis-h card-icon" style="font-size:48px;"></i>
              </div>
            </div>
          </div>
  </label>
      </div>
  </div>
  <div style="text-align:center;">
    <button type="submit" id="topics" name="submitBtn" class="btn btn-primary btn-xlarge center" onclick="submitFormOkay = true;" style="top:-10px;margin-bottom:10px;margin-top:-15px;height:30px;width:65px;font-size:12px;">Wijzigen</button>
</div>
  </form>
	</div>
	</div>
{% endif %}
{% if ((group == 2) and (phase == 2) and (device != "mobile")) %}
<div class = "col my-4">
</div>
{% endif %}
    {% if (((group == 2) or (group == 3)) and (phase == 2)) %}
{% if device == "mobile" %}
<div class="col my-4">
  {% else %}
  <div class="col-6 my-4">
    {% endif %}
    <div class="card shadow mb-4">
      <div class="card-header py-3">
  <h2 class="m-0 font-weight-bold text-primary">Personalisering
  <button type="button btn-link" class="modal-button btn-link float-right" href="#myModal2">
  <span class="glyphicon glyphicon-question-sign modal-span" style="font-size:20px;top:-1px;" href="#myModal2"></span>
  </button>

  <div class="modal" id="myModal2">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Hoe werkt het?</h3>
<span aria-hidden="true" class="close">&times;</span>
      </div>
      <div class="modal-body">
	<h3><u>Aantal gepersonaliseerde artikelen</u></h3>
	<p style="font-size:14px;font-weight:normal;">Hier kan je bepalen hoeveel van de negen artikelen die je op de hoofdpagina ziet, specifiek voor je geselecteerd zijn op basis van wat je tot nu toe heeft gelezen.Hoe lager het aantal is, hoe minder gepersonaliseerd de website zal zijn.</p>
	{% if ((group == 2) and (phase == 2)) %}
	<h3><u>Diversiteit</u></h3>
	<p style="font-size:14px;font-weight:normal;">Hier kan je beslissen of je meer artikelen wilt krijgen die dicht in de buurt komen van wat je tot nu toe hebt gelezen of dat je inhoud wilt die meer afwijkt van jouw interesses op basis van wat je hebt gelezen. Als je kiest voor meer diversiteit, zullen de artikelen sterker afwijken van de artikelen die je tot nu toe hebt gelezen.</p>
	{% endif %}
      </div>
    </div>
</div>
</div>
        </h2>
      </div>
      <div class="card-body">
<h3 class="font-weight-bold">Aantal gepersonaliseerde artikelen</h3>
<form action="{{ url_for('get_num_recommended') }}" method="post">
<div class="range range-primary">
    <input type="range" name="num_recommended" min="0" max="9" value="{{ num_recommended }}" onchange="range.value=value"></input>
    <output id="range">{{ num_recommended }}</output>
</div>
<br />
    <button type="submit" id="num_recommended" name="submitBtn" class="btn btn-primary btn-xlarge center" onclick="submitFormOkay = true;" style="margin:10px;height:30px;width:65px;font-size:12px;">Wijzigen</button>
</form>
</div>
{% if ((group == 2) and (phase == 2)) %}
      <br />
      <div class="card-body">
  <h3 class="font-weight-bold">Diversiteit</h3>
  <form action="{{ url_for('get_diversity') }}" method="post">
  <div class="range range-primary">
    <input type="range" name="diversity" min="1" max="5" value="{{ diversity }}" onchange="range.value=value"></input>
    <output id="range">{{ diversity }}</output>
  </div>
  <br />
    <button type="submit" id="diversity" name="submitBtn" class="btn btn-primary btn-xlarge center" onclick="submitFormOkay = true;" style="margin:10px;height:30px;width:65px;font-size:12px;">Wijzigen</button>
</form>
  </div>
      </div>
</div>
{% if device != "mobile" %}
  <div class="col my-4">
  </div>
  {% endif %}
{% endif %}
    </div>
    {% if ((group == 3) and (phase == 2)) %}
  </div>
</div>
{% endif %}
{% endif %}
{% if group == 4 %}
</div>
</div>
{% endif %}
  <!-- Content Column -->
  <div class="row">
  <div class="col my-4">
    <!-- Project Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
	<h2 class="m-0 font-weight-bold text-primary">Voortgang
 <!-- Button trigger modal -->
<button type="button" class="btn btn-link float-right modal-button" href="#myModal3">
<span class="glyphicon glyphicon-question-sign modal-span" style="font-size:20px;top:-1px;" href="#myModal3"></span>
</button>

<!-- Modal -->
  <div class="modal" id="myModal3">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Hoe werkt het?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="close">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p style="font-size:14px;font-weight:normal;"> Hier kun je zien hoeveel punten je hebt verzameld in de verschillende categorieën - en hoe goed je presteert in vergelijking met andere gebruikers van de website.</p>
      </div>
    </div>
  </div>
</div>
        </h2>
      </div>
      <div class="card-body">
	<h4 class="font-weight-bold">Logins<span class="float-right">Max:{{ max_logins }} </span></h4>
	{% if max_logins == 0 %}
      </br>
      <h5><b> Helaas heeft niemand hier tot nu toe punten verzameld - wees de eerste! </b></h5>
      </br>
      {% else %}
      {% if points_logins == max_logins %}
      <div class="progress mb-4">
	<div class="progress-bar bg-danger" role="progressbar" style = "width: 100%;"></div>
      </div>
      {% else %}
      <div class="progress mb-4">
	<div class="progress-bar bg-danger" role="progressbar" aria-valuenow= {{ points_logins }} aria-valuemin= {{ min_logins }} aria-valuemax= {{ max_logins }} style={{"width:number%; color:black;"| replace("number", (points_logins/(max_logins - min_logins))*100) }}></div>
      </div>
      {% endif %}
      {% endif %}
      <h4 class="font-weight-bold">Gelezen Artikelen<span class="float-right">Max:{{ max_stories }} </span></h4>
      {% if max_stories == 0 %}
      </br>
      <h5><b> Helaas heeft niemand hier tot nu toe punten verzameld - wees de eerste! </b></h5>
      </br>
      {% else %}
      {% if points_stories == max_stories %}
      <div class="progress mb-4">
	<div class="progress-bar bg-warning" role="progressbar" style = "width: 100%;"></div>
      </div>
      {% else %}
      <div class="progress mb-4">
	<div class="progress-bar bg-warning" role="progressbar" aria-valuenow= {{ points_stories }} aria-valuemin= {{ min_stories }} aria-valuemax= {{ max_stories }} style = {{"width:number%; color:black;" | replace("number", (points_stories/(max_stories - min_stories))*100) }}></div>
      </div>
      {% endif %}
      {% endif %}
      <h4 class="font-weight-bold">Beoordelingen<span class="float-right">Max: {{ max_ratings }} </span></h4>
      {% if max_ratings == 0 %}
      </br>
      <h5><b> Helaas heeft niemand hier tot nu toe punten verzameld - wees de eerste! </b></h5>
      </br>
      {% else %}
      {% if points_ratings == max_ratings %}
      <div class="progress mb-4">
	<div class="progress-bar" role="progressbar" style = "width: 100%"></div>
      </div>
      {% else %}
      <div class="progress mb-4">
	<div class="progress-bar" role="progressbar" aria-valuenow={{ points_ratings }} aria-valuemin= {{ min_ratings }} aria-valuemax= {{ max_ratings }} style = {{"width:number%; color:black;" | replace("number", (points_ratings/(max_ratings - min_ratings))*100) }}></div>
      </div>
      {% endif %}
      {% endif %}
      <h4 class="font-weight-bold">Uitnodigingen<span class="float-right">Max: {{ max_invites }} </span></h4>
      {% if max_invites == 0 %}
      </br>
      <h5><b> Helaas heeft niemand hier tot nu toe punten verzameld - wees de eerste! </b></h5>
      </br>
      {% else %}
      {% if points_invites == max_invites %}
      <div class="progress mb-4">
	<div class="progress-bar bg-info" role="progressbar" style = "width: 100%;"></div>
      </div>
      {% else %}
      <div class="progress mb-4">
	<div class="progress-bar bg-info" role="progressbar" aria-valuenow={{ points_invites }} aria-valuemin= {{ min_invites }} aria-valuemax= {{ max_invites }} style = {{"width:number%; color:black;" | replace("number", (points_invites/(max_invites - min_invites))*100) }}></div>
      </div>
      {% endif %}
      {% endif %}
      <h4 class="font-weight-bold">Totaal<span class="float-right">Max: {{ max_overall }}</span></h4>
      {% if max_overall == 0 %}
      </br>
      <h5><b> Helaas heeft niemand hier tot nu toe punten verzameld - wees de eerste! </b></h5>
      </br>
      {% else %}
      {% if points == max_overall %}
      <div class="progress mb-4">
	<div class="progress-bar bg-success" role="progressbar" style = "width: 100%"></div>
      </div>
      {% else %}
      <div class="progress">
	<div class="progress-bar bg-success" role="progressbar" aria-valuenow={{ points }} aria-valuemin= {{ min_overall }} aria-valuemax= {{max_overall }} style = {{"width:number%; color:black;" | replace("number", (points/(max_overall - min_overall))*100) }} ></div>
      </div>
      {% endif %}
      {% endif %}
      </div>
    </div>
    </div>

  <div class="col my-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
	<h2 class="m-0 font-weight-bold text-primary">Punten
 <!-- Button trigger modal -->
<button type="button" class="btn btn-link float-right modal-button" href="#myModal4">
<span class="glyphicon glyphicon-question-sign modal-span" style="font-size:20px;top:-1px;" href="#myModal4"></span>
</button>

<!-- Modal -->
<div class="modal" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Hoe werkt het?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="close">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p style="font-size:14px;font-weight:normal;">Hier kun je zien hoe ver je bent met het onderzoek - als de hele cirkel is ingevuld, kun je de finale vragenlijst invullen.</p>
      </div>
    </div>
  </div>
</div>
        </h2>
      </div>
      <div class="card-body">
	<div class="chart-pie p-4">
	  <canvas id="myPieChart"></canvas>
	</div>
	<div class="mt-4 pb-4 text-center small" style="font-size:12px;">
	  <span class="mr-2">
	    <i class="fas fa-circle text-danger"></i> Logins
	  </span>
	  <span class="mr-2">
	    <i class="fas fa-circle text-warning"></i> Gelezen
	  </span>
	  <span class="mr-2">
	    <i class="fas fa-circle text-primary"></i> Beoordeling
	  </span>
	  <span class="mr-2">
	   <i class="fas fa-circle text-success"></i> Uitnodiging
	  </span>
	  <span class="mr-2">
	    <i class="fas fa-circle text-secondary"></i> Nog te besteden
	  </span>
	</div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
	  <!-- Bootstrap core JavaScript-->
  <script src="{{url_for('.static', filename = 'vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('.static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{url_for('.static', filename = 'vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{url_for('.static', filename ='sb-admin-2.min.js')}}"></script>

  <!-- Page level plugins -->
  <script src="{{url_for('.static', filename='vendor/chart.js/Chart.min.js')}}"></script>
	  {% endblock %}

 {% if device == "mobile" %}
        <script>
          $(document).ready(function () {
          $("#sidebar-mobile").mCustomScrollbar({
          theme: "minimal"
          });

          $('#sidebarCollapsemobile').on('click', function () {
          $('#sidebar-mobile, #content-new-mobile, .square-mobile').toggleClass('active');
          $('.collapse.in').toggleClass('in');
          $('a[aria-expanded=true]').attr('aria-expanded', 'false');
          });
          });
        </script>
{% else %}
        <script>
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content-new').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>

{% endif %}
