{% extends "base.html" %}
{% block app_content %}

<div class="row">
  <div class="col-md-7 text-justify">
<h1>Veelgestelde Vragen/FAQs</h1>
<h4><b>Wat is 3bij3?</b></h4>
<p>3bij3 is een nieuwssite waar wij testen hoe mensen diverse artikelen selecteren en beoordelen. Het is daarvoor heel belangrijk dat u deze website regelmatig en actief blijft gebruiken. Als u nog vragen heeft, neem dan gerust contact met ons op over het contactformulier.</p>
<h4><b>Waar kan ik de studie afsluiten?</b></h4>
<p>U kunt onder 'punten' uw actuele status inzien. Als u 100% bereikt hebt en de website op minstens 10 verschiellende dagen hebt gebruikt krijgt u een mededeling dat u de studie kunt afsluiten. U kunt dan op een link klikken en een finale vragenlijst invullen. Denkt u dat u al aan de voorwaarden voldoet maar heeft nog geen mededeling gekregen? Stuur ons dan een bericht via de contactformulier.</p>
<h4><b>Hoe kan ik punten verzamelen?</b></h4>
<p>Er zijn vier verschillende manieren om punten te verzamelen: Als u inlogd op de website krijgt u 2 punten, voor elk artikel dat u leest ontvangt u 1 punt en voor elke beoordeling van een artikel krijt u 0.5 punten. Ten slotte ontvangt u punten voor het uitnodigen van je vrienden om ook de website te gebruiken (als deze de website ook enige tijd gebruiken). Er zijn limieten van punten die u per dag kunt halen, dus u kunt ze niet allemaal tegelijk verzamelen. En overzicht van u punten vindt u onder "Punten" - u kunt hier ook zien hoe andere mensen die de website gebruiken op dit moment presteren.</p>
<h4><b>Hoe ga ik terug naar de homepage?</b></h4>
<p>Waneer u een artikel heeft gelezen en een rating heeft gegeven, kunt u kiezen of u naar de homepage met dezelfde artikelen wilt terug gaan of als u liever nieuwe artikelen wilt halen. Dit is de von ons geprefereerde manier omdat wij graag uw mening over de artikelen willen weten. Anders kunt u ook op het 3bij3-logo of op "Nieuws" klikken.</p>
{% if current_user.group == 1 %}
<h4><b>Ik kan alleen drie inhoudscategorieën kiezen - is er iets mis?</b></h4>
<p>Nee, er is niets mis. U kunt helaas alleen drie categorieën kiezen - maar u kunt je selectie zo vaak als u wilt wijzigen om andere categorieën te zien.</p>
<h4><b>Als ik een categorie kies verschijnen er nog andere categorieën, zijn er niet genoeg nieuws voor dit categorie?</b></h4>
<p>Als u categorieën kiest betekend dat alleen en weging - uw favoriete categorieën verschijnen vaker dan anderen, maar niet uitsluitend.</p>
{% endif %}
<h4><b>Als ik op "Terug naar selectie" ziet de website er anders aus dan eerst, hoe kan dat?</b></h4>
<p>De artikelen worden altijd in willekeurige volgorde getoond - u ziet dus dezelfde artikelen dan eerder, maar in een andere volgorde. Zou u inderdaad andere artikelen zien is er iets mis - stuur in dit geval een bericht via de contact formulier.</p>
  </div>
  </div>
{% endblock %}
