{% extends "base.html" %}
{% block app_content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<br>
<br>
<br>
<div class = "row" >
  <div class = "col-md-2" ></div>
<div class = "col-md-8" >
<h3 class = "text-center"><b>Met deze (voor u specifieke) link kunt u uw vrienden uitnodigen om ook 3bij3 te gebruiken - en zelf punten te verzamelen! Alles wat u hoeft te doen is deze link te delen met uw vrienden:</b></h3><br>
<p class = "text-center" style = "color:blue;text-decoration:underline;font-size:20px">{{ url }}</p>
<div class="fb-share-button" data-href={{ url }} data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href={{"https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.3bij3.nl%2Fconsent%3Fuser%3Dnumber&amp;src=sdkpreparse" | replace("number", id) }} class="fb-xfbml-parse-ignore">Share</a></div>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-url={{ url }} data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8" data-size="large"></script>
</div>
</div>
{% endblock %}
