<head><link rel="stylesheet"
	    href="{{url_for('.static', filename='mystyle.css')}}"></head>

<div class="square-mobile">
	  {% with result = results[0] %}
	  <div class ={{result._source.topic_string}} >{{result._source.topic_string}}</div>
	      {% endwith %}
    <div class="content">
        <div class="table">
            <div class="table-cell">
              {% with result = results[0] %}
	      {% include '_result.html'%}
	      {% endwith %}
            </div>
        </div>
    </div>
</div>
	<div class="square-mobile">
	  	  {% with result = results[1] %}
	  <div class ={{result._source.topic_string}} >{{result._source.topic_string}}</div>
	      {% endwith %}
    <div class="content">
        <div class="table">
            <div class="table-cell">
              {% with result = results[1] %}
	      {% include '_result.html'%}
	      {% endwith %}
            </div>
        </div>
    </div>
</div>
	<div class="square-mobile">
	  	  {% with result = results[2] %}
	  <div class ={{result._source.topic_string}} >{{result._source.topic_string}}</div>
	      {% endwith %}
    <div class="content">
        <div class="table">
            <div class="table-cell">               
              {% with result = results[2] %}
	      {% include '_result.html'%}
	      {% endwith %}
            </div>
        </div>
    </div>
</div>

	<div class="square-mobile">
	  	  {% with result = results[3] %}
	  <div class ={{result._source.topic_string}} >{{result._source.topic_string}}</div>
	      {% endwith %}
   <div class="content">
        <div class="table">
            <div class="table-cell">
              {% with result = results[3] %}
	      {% include '_result.html'%}
	      {% endwith %}
            </div>
        </div>
    </div>
</div>
	<div class="square-mobile">
	  	  {% with result = results[4] %}
	  <div class ={{result._source.topic_string}} >{{result._source.topic_string}}</div>
	      {% endwith %}
    <div class="content">
        <div class="table">
            <div class="table-cell">
              {% with result = results[4] %}
	      {% include '_result.html'%}
	      {% endwith %}
            </div>
        </div>
    </div>
</div>
	<div class="square-mobile">
	  	  {% with result = results[5] %}
	  <div class ={{result._source.topic_string}} >{{result._source.topic_string}}</div>
	      {% endwith %}
   <div class="content">
        <div class="table">
            <div class="table-cell">
              {% with result = results[5] %}
	      {% include '_result.html'%}
	      {% endwith %}
            </div>
        </div>
    </div>
</div>


	<div class="square-mobile">
	  	  {% with result = results[6] %}
	  <div class ={{result._source.topic_string}} >{{result._source.topic_string}}</div>
	      {% endwith %}
   <div class="content">
        <div class="table">
            <div class="table-cell">
              {% with result = results[6] %}
	      {% include '_result.html'%}
	      {% endwith %}
            </div>
        </div>
    </div>
</div>
	<div class="square-mobile">
	  	  {% with result = results[7] %}
	  <div class ={{result._source.topic_string}} >{{result._source.topic_string}}</div>
	      {% endwith %}
    <div class="content">
        <div class="table">
            <div class="table-cell">
              {% with result = results[7] %}
	      {% include '_result.html'%}
	      {% endwith %}
            </div>
        </div>
    </div>
</div>
	<div class="square-mobile">
	  	  {% with result = results[8] %}
	  <div class ={{result._source.topic_string}} >{{result._source.topic_string}}</div>
	      {% endwith %}
    <div class="content">
        <div class="table">
            <div class="table-cell">
              {% with result = results[8] %}
	      {% include '_result.html'%}
	      {% endwith %}
            </div>
        </div>
    </div>
	</div>
