{% extends "base.html" %}

{% block app_content %}


<div class = "container-fluid">
  <div class = "row.row-eq-height">
    <div class="col-lg-12 text-center">
    <h1>Nachrichten</h1>
    </div>
<br/>
{% if current_user.group == 1 %}
<div class="container">
  <div class="row">
     <div class="col-lg-12">
     <div class="button-group">
        <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown">
         Auswahl Kategorien </span> <span class="caret"></span></button>
     <ul class="dropdown-menu">
       <li><a href="#" class="medium" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp;Sport</a></li>
       <li><a href="#" class="medium" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp;Wirtschaft</a></li>
       <li><a href="#" class="medium" data-value="option3" tabIndex="-1"><input type="checkbox"/>&nbsp;Politik</a></li>
       <li><a href="#" class="medium" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp;Wetter</a></li>
       <li class="divider"></li>
       <li><a href="{{url_for ('search') }}" class="medium" data-value="Änderungen übernehmen" tabIndex="-1"><b>Änderungen übernehmen</b></a>
     </ul>
     </div>
     </div>
  </div>
</div>
</br>
</br>
{% endif %}
  <div class = "col-lg-12 bg-info row.row-eq-height text-left">
    <div class = "col-lg-4">
      {% for result in results[:3] %}
        {% include '_result.html' %}
      {%endfor %}
    </div>
    <div class = "col-lg-4">
      {% for result in results[3:6] %}
        {% include '_result.html' %}
      {%endfor %}
    </div>
    <div class = "col-lg-4">
      {% for result in results[6:9] %}
        {% include '_result.html' %}
      {%endfor %}
    </div>
    </div>
  </div>
</div>
{% endblock %}
