

{% extends "base.html" %}
{% block app_content %}
<meta http-equiv="refresh" content="900; URL={{ url_for ('newspage') }}">
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='mystyle.css')}}">
{% endblock %}
<div class="container">
     <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
       <i class="glyphicon glyphicon-align-left"></i>
             Menu
     </button>
     </div>
{% if device == "mobile" %}
{% include 'mobile_newspage.html' %}
{% elif device == "tablet" %}
{% include 'tablet_newspage.html' %}
{% else %}
{% include 'pc_newspage.html' %}
{% endif %}
{% endblock %}



