{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Registreren</h1>
    <div class = "row">
        <div class="col-md-4">
            <form action="" method = "POST">
            {{ wtf.quick_form(form) }}
            </form>
        </div>
    </div>
<p></p>
<p><b>Opmerking: Wij sturen je een link naar je e-mailadres met een link om jouw account te activeren. Jouw e-mailadres is belangrijk, zodat je jouw wachtwoord kunt resetten indien je het vergeten bent. We zullen je ook herinneringen sturen als je te lang inactief bent geweest om je te helpen de studie te beëindigen.</p>

{% endblock %}
    
 
      
	

				    
