{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Registreren</h1>
    <div class = "row">
        <div class="col-md-4">
            <form action="" method = "POST">
            {{ wtf.quick_form(form) }}
            </form>
        </div>
    </div>
<p></p>
<p><b>Opmerking: uw e-mailadres is uitsluitend nodig als u uw wachtwoord bent vergeten. Als u geen e-mailadres wilt opgeven, kunt u een fictief adres gebruiken (bijvoorbeeld test@test.com), maar dan kunt u uw wachtwoord niet opnieuw instellen.</p>

{% endblock %}
    
 
      
	

				    
